nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;

  display: flex;
  border: solid 2px;
}

nav > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big_menu {
  font-size: 20px;
}

.show_menu {
  width: 376px;
  height: 500px;
  position: absolute;
  left: 20px;
  transition: 1s;
  font-weight: bold;
}

.hide_menu {
  width: 376px;
  height: 500px;
  position: absolute;
  left: -376px;
  transition: 1s;
}
